* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/congruent_pentagon.png");
}

.connectThumbnail {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

#test {
    width: 190px;
}

#contentHeader, #connectHeader {
    margin: 0 0 16px 0;
    padding-bottom: 12px;
    border-bottom: 2px #ddd solid;
    font-weight: bold;
    font-size: 23px;
}

#contentBox {
    padding: 24px;
}

#connectBox {
    padding: 24px;
    box-sizing: border-box;
    border: 2px #555 solid;
    background-color: white;
}


@media (min-width: 1200px) {
    .connect-thumbnail {
        width: 64px;
    }
}
