* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/congruent_pentagon.png");
}

h4 {
    color: red;
}

.headerText {
    margin: 0 0 16px 0;
    padding-bottom: 12px;
    border-bottom: 2px #ddd solid;
    font-weight: bold;
    font-size: 23px;
    color: #555;
}

.styledBox {
    padding: 24px;
    margin: 24px 0 24px 0;
    box-sizing: border-box;
    border: 2px #bbb solid;
    background-color: white;
}

.connectThumbnail {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.connectThumbnail:hover {
    opacity: 0.7;
}

.contactText {
    font-size: 18px;
    color: #777;
}

.project {
    display: inline-block;
    width: 100%;
    margin: 15px 0 15px 0;
}

.banner {
    display: flex;
    position: absolute;
    top: 65%;
    background: #B1F6CB;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    color: #555;
    border-top: 2px #555 solid;
    border-bottom: 2px #555 solid;
}

#contentText {
    line-height: 175%;
    font-size: 16px;
    text-indent: 48px;
    color: #555;
}

.contact {
    width: 100%;
}

